{$HOST} {
        basicauth /* {
                {$RPC_USERS}
        }
        reverse_proxy fullnode:9000
}

{$HOST}:9101 {
        basicauth /* {
                {$METRICS_USERS}
        }
        reverse_proxy nodeexporter:9100
}

{$HOST}:9102 {
        basicauth /* {
                {$METRICS_USERS}
        }
        reverse_proxy fullnode:9184
}